<div class="w-full max-w-md mx-auto">
  <span class="text-white text-sm font-semibold">Range price</span>

  <div class="flex justify-between gap-4 text-white pb-2 select-none">
    <span>{{ minPrice() | currency: "USD" : "symbol" : "3.0" }}</span>
    <span>{{ maxPrice() | currency: "USD" : "symbol" : "3.0" }}</span>
  </div>

  <div class="relative h-1 bg-gray-200 rounded-full">
    <!-- Barra de progreso -->
    <div
      class="absolute h-full bg-blue-500 rounded-full"
      [style.left]="leftPosition()"
      [style.width]="width()"
    ></div>

    @for (item of [0, 1]; track $index) {
      <div
        class="absolute w-4 h-4 bg-blue-500 rounded-full -mt-1.5 transform -translate-x-1/2 cursor-pointer"
        [style.left]="item === 0 ? leftPosition() : rightPosition()"
      ></div>
    }

    <div
      class="absolute w-4 h-4 bg-blue-500 rounded-full -mt-1.5 transform -translate-x-1/2 cursor-pointer"
      [style.left]="rightPosition()"
    ></div>

    <input
      class="range-input w-full"
      type="range"
      [min]="minPriceRange()"
      [max]="maxPriceRange()"
      [value]="minPrice()"
      (input)="onChangeRange($event, 0)"
      (blur)="onTouch && onTouch()"
      [disabled]="isDisabled"
    />

    <input
      class="range-input w-full"
      type="range"
      [min]="minPriceRange()"
      [max]="maxPriceRange()"
      [value]="maxPrice()"
      (input)="onChangeRange($event, 1)"
      (blur)="onTouch && onTouch()"
      [disabled]="isDisabled"
    />
  </div>

  <div class="flex justify-between mt-4 gap-4 select-none">
    <input
      class="w-20 px-2 py-1 text-sm rounded border focus:border-blue-500 focus:ring-1 focus:ring-blue-500 bg-gray-700 border-gray-600"
      type="number"
      [min]="minPriceRange()"
      [max]="maxPrice()"
      [value]="minPrice()"
      (input)="onChangeRange($event, 0)"
      (blur)="onTouch && onTouch()"
      [disabled]="isDisabled"
    />
    <input
      class="w-20 px-2 py-1 text-sm rounded border focus:border-blue-500 focus:ring-1 focus:ring-blue-500 bg-gray-700 border-gray-600"
      type="number"
      [min]="minPrice()"
      [max]="maxPriceRange()"
      [value]="maxPrice()"
      (input)="onChangeRange($event, 1)"
      (blur)="onTouch && onTouch()"
      [disabled]="isDisabled"
    />
  </div>
</div>
