<header class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      routerLink="/home"
      class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white block border-t-2 border-b-2 uppercase tracking-widest"
    >
      Clior
      <h1 class="sr-only">Clior Ecommerce</h1>
    </a>
    <div class="flex md:order-2 items-center gap-2">
      <app-btn-base
        class="hidden xs:block md:hidden"
        data-collapse-toggle="navbar-search"
        aria-controls="navbar-search"
        aria-expanded="false"
        title="search"
        variant="primary"
        space="small"
      >
        <app-search-svg />
      </app-btn-base>

      <div class="hidden md:block">
        <app-search-bar [hasMobileVersion]="false" />
      </div>
      <app-btn-base
        class="hidden xs:block"
        title="shopping car"
        variant="primary"
        space="small"
      >
        <app-shopping-car-svg />
      </app-btn-base>

      <ng-container>
        <app-btn-base
          class="md:hidden"
          title="open main menu"
          variant="outline"
          space="small"
          data-collapse-toggle="navbar-search"
          aria-controls="navbar-search"
          aria-expanded="false"
        >
          <app-hamburger-bar />
        </app-btn-base>

        <app-dropdown-user [isLogged]="isLogged()" [username]="username">
          <app-btn-base
            (click)="onSignOut()"
            title="Logout"
            maxSize
            ngProjectAs="sign-out-btn"
          >
            Sign out
          </app-btn-base>
        </app-dropdown-user>
      </ng-container>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-search"
    >
      <app-search-bar [hasMobileVersion]="true" />
      <app-navbar />
    </div>
  </div>
</header>
