<div class="bg-gray-800 rounded-lg p-6">
  <h3 class="text-xl font-semibold text-white mb-4">Send us a Message</h3>
  <form
    [formGroup]="form"
    autocomplete="off"
    errorTailor
    (ngSubmit)="submitForm()"
    class="grid grid-cols-1 gap-4"
  >
    @for (field of form.controls | keyvalue; track $index) {
      <label
        class="block text-sm font-medium text-gray-300 mb-1 capitalize relative"
        [for]="field.key + $index"
      >
        {{ field.key }}
        @if (field.key === "subject") {
          <select
            class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent"
            [formControlName]="field.key"
            aria-placeholder="write your affair"
            [id]="field.key + $index"
          >
            @for (affair of affairs; track affair) {
              <option [value]="affair.value">{{ affair.label }}</option>
            }
          </select>
        } @else if (field.key === "message") {
          <textarea
            class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent resize-none"
            placeholder="250 characters max"
            [id]="field.key + $index"
            [formControlName]="field.key"
            rows="4"
          ></textarea>
          <span
            class="absolute right-0 bottom-0 translate-y-full text-xs"
            [class.text-red-500]="messageLength() >= MAX_LENGTH"
          >
            {{ messageLength() }} / {{ MAX_LENGTH }}</span
          >
        } @else {
          <input
            class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent"
            [id]="field.key + $index"
            [formControlName]="field.key"
            [placeholder]="['write your', field.key]"
            type="text"
          />
        }
      </label>
    }

    <app-btn-base
      type="submit"
      maxSize
      title="{{ isValid ? 'submit message' : 'complete all fields' }}"
      [disabled]="!isValid || isSubmitted()"
    >
      {{ isSubmitted() ? "sending ..." : "send message" }}
    </app-btn-base>
  </form>
</div>
