<app-dropdown
  dropdownId="dropdown-shoppingCart"
  ariaLabelledBy="dropdown-shopping cart"
>
  <div ngProjectAs="button">
    click
    <app-shopping-car-svg />
  </div>

  <ng-container ngProjectAs="body">
    <ul
      class="h-48 py-2 overflow-y-auto text-gray-700 dark:text-gray-200 customScrollbar"
    >
      @for (product of products(); track product.id) {
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <div class="relative">
              <img
                class="w-6 h-6 me-2 rounded-full"
                src="/docs/images/people/profile-picture-1.jpg"
                alt="Jese image"
              />
              <app-tag
                [content]="product.quantity"
                roundedFull
                wmax
                class="absolute right-2 top-2 size-6 scale-75"
              />
            </div>
            {{ product.name }}
          </a>
        </li>
      } @empty {
        <li>
          <app-empty-shopping-cart variant="simple" />
          <strong class="text-center block">Your cart is empty</strong>
        </li>
      }
    </ul>
    <div class="p-4">
      @if (quantityProducts() > 0) {
        <app-link-base href="/shopping-cart" wMax customClass="primary">
          View Details
        </app-link-base>
      } @else {
        <app-link-base href="/products" wMax customClass="primary">
          View Products
        </app-link-base>
      }
    </div>
  </ng-container>
</app-dropdown>
