<form
  class="max-w-sm mx-auto w-full sm:max-w-md grid grid-cols-1 gap-8"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  errorTailor
  (ngSubmit)="submitForm()"
  #stepFrom
>
  <div class="flex items-center relative">
    <input
      id="checkbox-1"
      type="checkbox"
      value=""
      formControlName="acceptTermAndConditions"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
    /><label
      for="checkbox-1"
      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >I agree to the
      <a href="#" class="text-blue-600 hover:underline dark:text-blue-500"
        >terms and conditions</a
      >.</label
    >
  </div>
  <app-btn-base type="submit" [disabled]="!isValidForm" maxSize>
    Complete Register
  </app-btn-base>
</form>
