<form
  class="max-w-sm mx-auto w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md p-8 dark:bg-gray-800 dark:border-gray-700"
  [formGroup]="formLogin"
  errorTailor
  (ngSubmit)="onSubmit()"
>
  <div class="mb-5 relative">
    <label
      for="email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your email</label
    >
    <input
      formControlName="email"
      type="email"
      id="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@flowbite.com"
      [controlErrorsTpl]="tpl"
    />
  </div>
  <div class="mb-5 relative">
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Your password</label
    >
    <input
      formControlName="password"
      [controlErrorsTpl]="tpl"
      type="password"
      id="password"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        formControlName="hasAutoSave"
        id="remember"
        type="checkbox"
        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
      />
    </div>
    <label
      for="remember"
      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >Remember me</label
    >
  </div>
  <button
    [disabled]="!formLogin.valid"
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:cursor-not-allowed"
  >
    Submit
  </button>
</form>

<p
  for="terms"
  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-center pt-4"
>
  You don't have an account yet,
  <a
    routerLink="/register"
    class="text-blue-600 hover:underline dark:text-blue-500"
    >sign up here</a
  >
</p>
<ng-template let-error let-text="text" #tpl>
  <span
    class="absolute bg-red-500 text-white bottom-0 px-2 translate-y-[110%] text-xs tracking-wide rounded-md border-gray-200 border-[.15rem ] select-none"
  >
    {{ text }}
  </span>
</ng-template>
