<article class="border-b border-gray-700 pb-4 last:border-0 relative">
  <h4 class="text-white font-medium mb-2">{{ store().name }}</h4>
  <div class="grid grid-cols-1 gap-2">
    <div class="flex gap-2 gap-x-6 flex-wrap">
      <p class="text-gray-400 text-sm flex gap-1 items-center">
        <ng-container *ngComponentOutlet="icons.home; inputs: iconProps" />
        <span class="truncate">
          {{ store().address }}
        </span>
      </p>
      <p class="text-gray-400 text-sm flex gap-1 items-center">
        <ng-container *ngComponentOutlet="icons.phone; inputs: iconProps" />
        <span class="truncate">
          {{ store().phone }}
        </span>
      </p>
    </div>
    <p class="text-gray-400 text-sm flex gap-1 items-center">
      <ng-container *ngComponentOutlet="icons.clock; inputs: iconProps" />
      <span class="truncate">
        {{ store().hours }}
      </span>
    </p>
  </div>
  <ng-content />
</article>
