<ng-container>
  @let plural = (productInfo().rating.count || 0) > 1 ? "reviews" : "review";

  <ng-content select="tag" />

  <h2 class="mt-2 text-3xl font-bold text-white">{{ productInfo().name }}</h2>
  <div class="mt-2 flex items-center space-x-2">
    <app-rating [rating]="2" [isReadonly]="true" />
    <a class="text-blue-400 hover:underline cursor-pointer mt-1" href="#review">
      {{ productInfo().rating.count }} {{ plural }}
    </a>
  </div>
  <div class="text-4xl font-bold text-white">
    {{ productInfo().price | currency }}
  </div>
  <p class="mt-2 text-white">{{ productInfo().description }}</p>

  <ng-content select="extra" />
</ng-container>
