<div class="relative hidden md:block">
  <button
    class="flex gap-3 items-center px-2 hover:bg-gray-500 p-1 rounded-lg"
    (click)="onClick()"
    type="button"
  >
    @if (isLogged()) {
    <app-avatar sizeClass="size-10" />
    }@else {
    <svg
      class="size-10 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
      />
    </svg>

    }
    <div
      class="text-base font-medium text-gray-900 dark:text-white hover:underline flex items-center gap-2"
    >
      <span>{{ isLogged() ? "Max" : "My account" }}</span>
      <svg
        class="size-3 text-gray-800 dark:text-white pt-1"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 8"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
        />
      </svg>
    </div>
  </button>
  @if (isViewDripMenu()) {
    @if (isLogged()) {
    <app-dropdown-menu class="absolute right-0" />
    }@else {
    <app-login-options class="absolute right-0" />
    }
}
</div>
