<aside class="overflow-y-hidden">
  <div class="h-5/6 px-3 pb-4 overflow-y-hidden bg-gray-900">
    <div class="space-y-4">
      <form
        class="text-gray-400 flex flex-col gap-6"
        [formGroup]="form"
        (ngSubmit)="submitForm()"
      >
        <app-btn-base type="submit" maxSize>
          Filter products
          <app-search-svg [size]="13" />
        </app-btn-base>

        <app-brand-select [brands]="brands" formControlName="brand" />

        <app-price-range
          formControlName="priceRange"
          [minPriceRange]="MIN_PRICE"
          [maxPriceRange]="MAX_PRICE"
        />

        <app-rating-select label="rating" formControlName="rating" />

        <app-presentation-product-select
          label="presentation"
          formControlName="presentation"
        />
      </form>
    </div>
  </div>
</aside>
