<section
  class="min-h-screen bg-gray-900 py-20 md:container md:mx-auto px-4 flex flex-col gap-8 lg:gap-20 overflow-x-hidden"
>
  <!-- <div class="container mx-auto px-4"> -->
  <div>
    <header class="text-center mb-16">
      <h2 class="text-4xl font-bold text-white mb-4">Why Clior?</h2>
      <p class="text-gray-400 text-lg">
        Discover why choosing us is your best decision for premium supplements.
      </p>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-16">
      @for (card of cards; track card.title) {
        <app-simple-card [card]="card">
          <ng-container *ngComponentOutlet="card.icon" />
        </app-simple-card>
      }
    </div>
  </div>

  <!-- <app-infinite-slide [numberSlides]="2" title="What Our Customers Say">
    <div class="flex gap-4 flex-nowrap">
      @for (testimonial of testimonials; track $index) {
        <app-testimonials [comment]="testimonial" />
      }
    </div>
  </app-infinite-slide> -->

  <app-slide />

  <app-more-info />
  <!-- </div> -->
</section>
