.container-stars {
  transition: color 0.1s ease-in-out;

  &:hover > button {
    color: rgb(252, 185, 61);
  }

  button {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    &:hover ~ button {
      color: currentColor;
    }
  }

  .active-rating {
    color: rgb(252, 185, 61);
  }
}

.readonly {
  pointer-events: none;
}
