<div class="flex-nowrap items-center gap-1">
  <div
    class="container-stars flex items-center"
    [class.readonly]="isReadonly()"
    [style.color]="backgroundStar()"
    [style.flex-direction]="orientation() === 'horizontal' ? 'row' : 'column'"
  >
    @for (item of arrayStars; let i = $index; track i) {
      <button
        class="block w-fit"
        (click)="viewRating(i + 1)"
        type="button"
        [class.active-rating]="i + 1 <= rating()"
        [attr.aria-label]="[
          'rate with ' + (i + 1) + (i + 1 < 2 ? ' star' : ' stars'),
        ]"
      >
        <app-star-empty-svg [size]="sizeStar()" />
      </button>
    }
  </div>

  @if (quantityReview()) {
    <span class="rating-text ms-2 text-sm text-gray-500 translate-y-[.1rem]">
      {{ rating() }} ({{ quantityReview() }})
    </span>
  }
</div>
