<div class="container-style p-6">
  <h3 class="text-xl font-semibold text-white mb-4">Send us a Message</h3>
  <form
    class="grid grid-cols-1 gap-4"
    [formGroup]="form"
    autocomplete="off"
    errorTailor
    (ngSubmit)="submitForm()"
  >
    @for (field of fields | keyvalue: null; track field.key) {
      <label
        class="block text-sm font-medium text-gray-300 mb-1 capitalize relative"
        [for]="field.key + '-contact'"
      >
        <span class="font-semibold"> {{ field.key }}: </span>
        <input
          class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent"
          [id]="field.key + '-contact'"
          [formControlName]="field.key"
          [type]="field.value.type"
        />
      </label>
    }

    <label
      class="block text-sm font-medium text-gray-300 mb-1 capitalize relative"
      for="subject-contact"
    >
      <span class="font-semibold"> Affair: </span>

      <select
        class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent"
        formControlName="subject"
        id="subject-contact"
      >
        @for (affair of affairs; track affair) {
          <option [value]="affair.value">{{ affair.label }}</option>
        }
      </select>
    </label>

    <label
      class="block text-sm font-medium text-gray-300 mb-1 capitalize relative"
      for="message-contact"
    >
      <span class="font-semibold"> Message: </span>

      <textarea
        class="w-full relative px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg text-white focus:ring-2 focus:ring-blue-600 focus:border-transparent customScrollbar resize-none"
        placeholder="250 characters max"
        id="message-contact"
        rows="4"
        formControlName="message"
      ></textarea>
      <span
        class="absolute right-0 bottom-0 translate-y-full text-xs"
        [class.text-red-500]="messageLength() >= MAX_LENGTH"
      >
        {{ messageLength() >= MAX_LENGTH ? "max exceeded - " : null }}
        {{ messageLength() }} / {{ MAX_LENGTH }}
      </span>
    </label>

    <app-btn-base
      class="pt-4"
      type="submit"
      maxSize
      title="{{ isValidForm ? 'submit message' : 'complete all fields' }}"
      [disabled]="!isValidForm || isSubmitted()"
    >
      {{ isSubmitted() ? "sending ..." : "send message" }}
    </app-btn-base>
  </form>
</div>
