:host {
  display: contents;
}

.marquee-container {
  --duration: 15s;

  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  margin-inline: auto;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );

  & .marquee-content {
    display: flex;
    animation: scroll var(--duration) linear infinite;
    gap: 2rem;
  }

  & .pauseAnimation {
    &:hover {
      animation-play-state: paused;
    }
  }

  & .reverseAnimation {
    animation-direction: reverse;
  }

  @media (width <= 400px) {
    max-width: 400px;
  }

  @media (width <= 640px) {
    --duration: 10s;
    max-width: 640px;
  }

  @media (width >= 768px) {
    max-width: 768px;
  }

  @media (width >= 1024px) {
    max-width: 1024px;
  }

  @media (width >= 1280px) {
    --duration: 30s;
    max-width: 1280px;
  }

  @media (width >= 1536px) {
    max-width: 1536px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-content {
    animation: none !important;
  }
}
