<button
  class="flex gap-3 items-center px-2 hover:bg-gray-500 p-1 rounded-lg"
  (click)="toggleDropdownMenu()"
  type="button"
>
  @if (isLogged()) {
    <app-avatar
      sizeClass="size-10"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png"
      alt="Helene avatar"
    />
  } @else {
    <app-empty-user-svg />
  }

  <app-arrow-down-svg />
</button>

@if (isViewDropdownMenu()) {
  <div class="absolute right-0 z-50">
    @if (isLogged()) {
      <app-user-menu-authenticated [username]="username()">
        <ng-content select="sign-out-btn" />
      </app-user-menu-authenticated>
    } @else {
      <app-user-menu-unauthenticated />
    }
  </div>
}
