<!-- hidden h-5 w-5 shrink-0 text-gray-400 dark:text-gray-500 lg:inline -->
<article class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
  <ul class="space-y-4 gap-1">
    <ng-content select="user" />
    @for (item of firstColumn(); track item.label) {
      <li>
        <app-label-info-profile [label]="item.label">
          <p class="flex gap-1">
            <span class="hidden lg:inline">
              <ng-template *ngComponentOutlet="iconsProfile[item.label]" />
            </span>
            {{ item.content }}
          </p>
        </app-label-info-profile>
      </li>
    }
  </ul>
  <ul class="space-y-4 gap-1 flex flex-col">
    @for (item of secondColumn(); track item.label) {
      <li>
        <app-label-info-profile [label]="item.label">
          <p class="flex gap-1">
            <span class="hidden lg:inline">
              <ng-template *ngComponentOutlet="iconsProfile[item.label]" />
            </span>
            {{ item.content }}
          </p>
        </app-label-info-profile>
      </li>
    }
  </ul>
  <ng-content />
</article>
