/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .active-link {
    color: #0249e4;
    text-decoration: underline;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 0rem 1fr 0rem;
  }

  .customScrollbar {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #1f2937;
    }
    &::-webkit-scrollbar-thumb {
      background: #4b5563;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #6b7280;
    }
  }

  .outline-clr {
    @apply hover:ring-2 hover:ring-blue-600 focus:ring-2 focus:ring-blue-600 outline-blue-600 rounded-lg;
  }

  .container-style {
    @apply rounded-lg shadow border p-8 bg-gray-800 border-gray-700;
  }
}

.grid-area-center {
  grid-column: 2/3;
}
